# Dart & Flutter
.dart_tool/
.packages
.pub/
build/
.flutter-plugins
.flutter-plugins-dependencies
.idea/
.vscode/
*.iml

# macOS
macos/Flutter/ephemeral/

# Windows
windows/Flutter/ephemeral/

# Web
web/Flutter/ephemeral/
